@import '../common';

.hero {
  //background: -webkit-linear-gradient(150deg, whitesmoke 50%, hsl(0, 0%, 93%) 35%) no-repeat fixed;
  background-color: $lightBgColor;
  height: 25rem;
  padding: 3rem;
  * {
    color: $lightTextColor;
  }
}
