<navbar></navbar>
<div class="container-fluid">
  <h1>Master Detail View for AngularJS</h1>
  <h4>&nbsp This is an example of what we here at Venturplex call, <br> a master detail view.</h4>
  <p>Though a simple app, you have full CRUD. This is the starting block of most web applications today.</p>
  <ol>
    <li>You have a payload coming in from a public API with a service, then being dynamically listed out aka READ. </li>
    <li>You also have a form or "detail" for CREATE or UPDATE.</li>
    <li>Then on the list you can DELETE.</li>
  </ol>
  <span>In just a few steps you have a full CRUD app using AngularJS and HTTP.</span>
</div>
